<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="Api" name="description">
  <meta name="official alpinofc" content="notranslate" />
  <meta content="alpin" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.hostpic.org/images/2104020105270087.jpeg">
  <link href="https://www.hostpic.org/images/2104020105270087.jpeg" rel="icon">

  <title>official alpinofc</title>  

<link href="https://rawcdn.githack.com/Not-found-squad/bootstrap-gw/bcaf62323dc4177233892d469baba69b39dd8824/assets/css/main.3f6952e4.css" rel="stylesheet"></head>
<script>
window['CboxReady'] = function (Cbox) {
	Cbox('button', '6-852538-vNvLf8');
}
</script>
<script src="." async></script>
<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
        	<li><a title=""></a></li>
            <li><a href="api/textmaker/lmo?text=alpin&theme=grapiti&apikey=alpin" title="">01 : text maker grapiti</a></li>
            <li><a href="api/textmaker/lmo?text=alpin&theme=bintang&apikey=alpin" title="">02 : text maker stars</a></li>
            <li><a href="api/textmaker/yamaker?text=alpin&theme=scary-njir&apikey=alpin" title="">03 : text maker scary</a></li>
            <li><a href="api/textmaker/yamaker?text=alpin&theme=metal-epek&apikey=alpin" title="">04 : text maker metal efek</a></li>
            <li><a href="api/textmaker/noti?text=alpin&theme=metal-wolf&apikey=alpin" title="">05 : text maker metal wolf</a></li>
            <li><a href="api/textmaker/noti?text=alpin&theme=daun-kaki&apikey=alpin" title="">06 : text maker leaves </a></li>
            <li><a href="api/textmaker/neon9?text=alpin&theme=3dwhite&apikey=alpin" title="">07 : text maker 3d white</a></li>
            <li><a href="api/textmaker/neon9?text=alpin&theme=heri-poter&apikey=alpin" title="">08 : text maker harry potter</a></li>
            <li><a href="api/anime/loli?apikey=alpin" title="">09 : random loli</a></li>
            <li><a href="api/genshin?search=keqing&apikey=alpin" title="">10 : chara genshin</a></li>
            <li><a title="">═════ ♢.sosmed.♢ ═════</a></li>
            <li><a href= "api/fbdown/?url=MASUKIN_URL&apikey=alpin">Facebook Downloader</a>
            <li><a href= "api/tiktod/?url=MASUKIN_URL&apikey=alpin">Tiktok Downloader</a>
            <li><a href= "api/tiktod/stalk/?username=MASUKIN_USERNAME&apikey=alpin">Tiktok Stalk</a>
            <li><a title="">═════ ♢.islami.♢ ═════</a></li>
            <li><a href= "api/hadits?kitab=bukhari&nomor=52&apikey=alpin">Hadits Shahih</a>
            <li><a href= "api/quran?surah=1&ayat=2&apikey=alpin">Al Qur'an</a>
            <li><a href= "api/muslim/tahlil?apikey=alpin">Doa Tahlil</a>
            <li><a href= "api/muslim/wirid?apikey=alpin">Doa Wirid</a>
            <li><a href= "api/muslim/asmaulhusna?apikey=alpin">Asmaul Husna</a>
            <li><a href= "api/muslim/doaharian?apikey=alpin">Doa Harian</a>
            <li><a href= "api/muslim/ayatkursi?apikey=alpin">Ayat Kursi</a>
            <li><a href= "api/kisahnabi?nabi=muhammad&apikey=alpin">Kisah Nabi</a>
            <li><a href= "api/muslim/niatshalat?apikey=alpin">Niat Shalat</a>
            <li><a href= "api/muslim/bacaanshalat?apikey=alpin">Bacaan Shalat</a>
            <li><a href= "api/random/asmaulhusna?apikey=alpin">Asmaul Husna</a>
            <li><a href= "api/jadwalshalat?kota=jakartautara&apikey=alpin">Jadwal Shalat</a>
            <li><a title="">═════ ♢.wallpaper.♢ ═════</a></li>
            <li><a href= "api/wallpaper/teknologi?apikey=alpin">Wallpaper Teknologi</a>
            <li><a href= "api/wallpaper/programming?apikey=alpin">Wallpaper Programming</a>
            <li><a href= "api/wallpaper/cyberspace?apikey=alpin">Wallpaper CyberSpace</a>
            <li><a href= "api/wallpaper/muslim?apikey=alpin">Wallpaper Muslim</a>
            <li><a href= "api/wallpaper/pegunungan?apikey=alpin">Wallpaper Mountain View</a>
            <li><a href= "api/random/wallpaper?apikey=alpin">Wallpaper</a>
            <li><a title="">═════ ♢.quotes.♢ ═════</a></li>
            <li><a href= "api/randomquote?apikey=alpin">Quotes</a>
            <li><a href= "api/randomquote/muslim?apikey=alpin">Quotes Islami</a>
            <li><a href= "api/quotes/kanye?apikey=alpin">Quotes Kanye</a>
            <li><a title="">═════ ♢.meme.♢ ═════</a></li>
            <li><a href= "api/random/meme?apikey=alpin">Meme</a>
            <li><a title="">═════ ♢.maker.♢ ═════</a></li>
            <li><a href= "api/textmaker?text=halo&text2=hai&theme=glitch&apikey=alpin">Glitch</a>
            <li><a href= "api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=alpin">Google Suggestion</a>
            <li><a href= "api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=alpin">PUBG</a>
            <li><a href= "api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=alpin">BattleField</a>
            <li><a href= "api/textmaker/senja?text=alpinMO&theme=coffee-cup&apikey=alpin">Coffee Cup</a>
            <li><a href= "api/textmaker/senja?text=alpin&theme=coffee-cup2&apikey=alpin">Coffee Cup 2</a>
            <li><a href= "api/textmaker/metallic?text=alpin&theme=neon&apikey=alpin">Neon</a>
            <li><a href= "api/textmaker/metallic?text=alpin&theme=glow&apikey=alpin">Glow</a>
            <li><a href= "api/textmaker/alam?text=alpin&theme=summer&apikey=alpin">Summer</a>
            <li><a href= "api/textmaker/alam?text=alpinZ&theme=flower&apikey=alpin">Flower</a>
            <li><a title="">═════ ♢.anime.♢ ═════</a></li>
            <li><a href= "api/anime/kusonime?search=planetarian&apikey=alpin">Kusonime</a>
            <li><a href= "api/anime/nsfwloli&apikey=alpin">nsfwloli</a>
            <li><a href= "api/anime/husbu&apikey=alpin">husbu</a>
            <li><a href= "api/manga?search=kimetsu no yaiba&apikey=alpin">Manga</a>
            <li><a title="">═════ ♢.game.♢ ═════</a></li>
            <li><a href= "/api/kuis/caklontong?apikey=alpin">Cak Lontong</a>
            <li><a href=  "/api/kuis/tebakgambar?apikey=alpin">Tebak Gambar</a>
            <li><a title="">═════ ♢.other.♢ ═════</a></li>
            <li><a href= "api/nulis?text=ZahirGanteng&apikey=alpin">Nulis Buku</a>
            <li><a href= "api/infonpm?query=zhirrr-api&hostname=zhirrr&apikey=alpin">Info NPM</a>
            <li><a href= "api/infogempa?apikey=alpin">Info Gempa</a>
            <li><a href= "api/cuaca?kabupaten=kab bungo&apikey=alpin">Info Cuaca</a>
            <li><a href= "api/covidindo?apikey=alpin">Covid Indo</a>
            <li><a href= "api/covidworld?apikey=alpin">Covid World</a>
            <li><a href= "api/short/tiny?url=google.com&apikey=alpin">Short Link</a>
            <li><a href= "api/wikipedia?search=jembatan&apikey=alpin">Wikipedia</a>
            <li><a href= "api/drakorasia?search=tale&apikey=alpin">Drakor Asia</a>
            <li><a href= "api/fakedata?country=en&apikey=alpin">Fake Data</a>
            <li><a href= "api/hilih?kata=aku kan ganteng banget&apikey=alpin">Kata Hilih</a>
            <li><a href= "api/liriklagu?lagu=sayang&apikey=alpin">Lirik Lagu</a>
            <li><a href= "api/chordlagu?lagu=sayang&apikey=alpin">Chord Lagu</a>
            <li><a href= "api/kbbi?kata=pohon&apikey=alpin">KBBI</a>
            <li><a href= "api/kodepos?kota=jakarta&apikey=alpin">Kode Pos</a>
            <li><a href= "api/translate?kata=hi&apikey=alpin">Translate</a>
            <li><a href= "api/gabut?apikey=alpin">Gabut</a>
        </ul>        
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->

  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('https://www.hostpic.org/images/2103201355140308.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <h3>official alpinofc<br>
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h3>Hello,<br>
                <span id="typed-strings">
                 <span>baca sebentar di bawah ini</span>
                  <span>welcome to my rest api</span>
                  <span>status Online ✡ </span>
                  <span>Apikey : alpin</span>
                  <span>klik titik 3pojok kanan untuk menampilkan menu</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>
<iframe src="https://j.top4top.io/m_1905qws2j0.mp3" hidden="hidden" allow="autoplay"; encrypt-media></iframe>
<div class="hero-full-container background-image-container white-text-container" style="background-image: url('https://i.ibb.co/rZP4Pvq/tutup.gif')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <h2>official alpinofc<br>
        <h3>about this api<h4>
        <h3><a href="#"><font color="#b9ffa5">api ini dibuat hanya sekedar coba coba saja</font></a></h3>
        <h3>follow ig ku yah:)<a rel="nofollow" href="https://instagram.com/alpin_xploit?igshid=120ip0yvw88yt"><font color="#8af3df">`cah koding`</font></a></p>
        </ul>
        </ul>
        </ul>
        <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <h3>Whatsapp: <a href="#"><font color="#8af3df">+6289690719275</font></a></h3>
                <h3>Instagram: <a rel="nofollow" href="https://instagram.com/alpin_.mo?igshid=1k1u35qv0pvlw"><font color="#8af3df">@alpin_.mo</font></a></p>
              </ul>
<script type="text/javascript" src="https://rawcdn.githack.com/Not-found-squad/bootstrap-gw/03638e3883ae6f99b10f59ed00a76826e1f139c5/main.70a66962.js"></script></body>
</div>
<h5>Copyright © 2021 - Developed By<a href="#"><font color="#e0ffdb"> alpinofc</font></a></h5>

</html>
