<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge" http-equiv="X-UA-Compatible">
  <meta content="width=device-width,initial-scale=1" name="viewport">
  <meta content="description" name="description">
  <meta name="GIRL-FRONTLINE" content="notranslate" />
  <meta content="L-M0" name="author">

  <!-- Disable tap highlight on IE -->
  <meta name="msapplication-tap-highlight" content="no">
  
  <link rel="apple-touch-icon" sizes="180x180" href="https://www.hostpic.org/images/2103201942450317.jpg">
  <link href="https://www.hostpic.org/images/2103201942450317.jpg" rel="icon">

  <title>Girls-FRONTLINE</title>  

<link href="https://rawcdn.githack.com/Not-found-squad/bootstrap-gw/bcaf62323dc4177233892d469baba69b39dd8824/assets/css/main.3f6952e4.css" rel="stylesheet"></head>
<script>
window['CboxReady'] = function (Cbox) {
	Cbox('button', '6-852538-vNvLf8');
}
</script>
<script src="https://static.cbox.ws/embed/1.js" async></script>
<body class="minimal">
<div id="site-border-left"></div>
<div id="site-border-right"></div>
<div id="site-border-top"></div>
<div id="site-border-bottom"></div>
<!-- Add your content of header -->
<header>
  <nav class="navbar  navbar-fixed-top navbar-inverse">
    <div class="container">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
       
      <div class="collapse navbar-collapse" id="navbar-collapse">
        <ul class="nav navbar-nav ">
        	<li><a title=""></a></li>
            <li><a href="api/textmaker/lmo?text=LING&theme=grapiti&apikey=GFL" title="">01 : text maker grapiti</a></li>
            <li><a href="api/textmaker/lmo?text=LING&theme=bintang&apikey=GFL" title="">02 : text maker stars</a></li>
            <li><a href="api/textmaker/yamaker?text=LING&theme=scary-njir&apikey=GFL" title="">03 : text maker scary</a></li>
            <li><a href="api/textmaker/yamaker?text=LING&theme=metal-epek&apikey=GFL" title="">04 : text maker metal efek</a></li>
            <li><a href="api/textmaker/noti?text=LING&theme=metal-wolf&apikey=GFL" title="">05 : text maker metal wolf</a></li>
            <li><a href="api/textmaker/noti?text=LING&theme=daun-kaki&apikey=GFL" title="">06 : text maker leaves </a></li>
            <li><a href="api/textmaker/neon9?text=LING&theme=3dwhite&apikey=GFL" title="">07 : text maker 3d white</a></li>
            <li><a href="api/textmaker/neon9?text=LING&theme=heri-poter&apikey=GFL" title="">08 : text maker harry potter</a></li>
            <li><a href="api/anime/loli?apikey=GFL" title="">09 : random loli</a></li>
            <li><a href="api/genshin?search=keqing&apikey=GFL" title="">10 : chara genshin</a></li>
            <li><a title="">═════ ♢.sosmed.♢ ═════</a></li>
            <li><a href= "api/fbdown/?url=MASUKIN_URL&apikey=GFL">Facebook Downloader</a>
            <li><a href= "api/tiktod/?url=MASUKIN_URL&apikey=GFL">Tiktok Downloader</a>
            <li><a href= "api/tiktod/stalk/?username=MASUKIN_USERNAME&apikey=GFL">Tiktok Stalk</a>
            <li><a title="">═════ ♢.islami.♢ ═════</a></li>
            <li><a href= "api/hadits?kitab=bukhari&nomor=52&apikey=GFL">Hadits Shahih</a>
            <li><a href= "api/quran?surah=1&ayat=2&apikey=GFL">Al Qur'an</a>
            <li><a href= "api/muslim/tahlil?apikey=GFL">Doa Tahlil</a>
            <li><a href= "api/muslim/wirid?apikey=GFL">Doa Wirid</a>
            <li><a href= "api/muslim/asmaulhusna?apikey=GFL">Asmaul Husna</a>
            <li><a href= "api/muslim/doaharian?apikey=GFL">Doa Harian</a>
            <li><a href= "api/muslim/ayatkursi?apikey=GFL">Ayat Kursi</a>
            <li><a href= "api/kisahnabi?nabi=muhammad&apikey=GFL">Kisah Nabi</a>
            <li><a href= "api/muslim/niatshalat?apikey=GFL">Niat Shalat</a>
            <li><a href= "api/muslim/bacaanshalat?apikey=GFL">Bacaan Shalat</a>
            <li><a href= "api/random/asmaulhusna?apikey=GFL">Asmaul Husna</a>
            <li><a href= "api/jadwalshalat?kota=jakartautara&apikey=GFL">Jadwal Shalat</a>
            <li><a title="">═════ ♢.wallpaper.♢ ═════</a></li>
            <li><a href= "api/wallpaper/teknologi?apikey=GFL">Wallpaper Teknologi</a>
            <li><a href= "api/wallpaper/programming?apikey=GFL">Wallpaper Programming</a>
            <li><a href= "api/wallpaper/cyberspace?apikey=GFL">Wallpaper CyberSpace</a>
            <li><a href= "api/wallpaper/muslim?apikey=GFL">Wallpaper Muslim</a>
            <li><a href= "api/wallpaper/pegunungan?apikey=GFL">Wallpaper Mountain View</a>
            <li><a href= "api/random/wallpaper?apikey=GFL">Wallpaper</a>
            <li><a title="">═════ ♢.quotes.♢ ═════</a></li>
            <li><a href= "api/randomquote?apikey=GFL">Quotes</a>
            <li><a href= "api/randomquote/muslim?apikey=GFL">Quotes Islami</a>
            <li><a href= "api/quotes/kanye?apikey=GFL">Quotes Kanye</a>
            <li><a title="">═════ ♢.meme.♢ ═════</a></li>
            <li><a href= "api/random/meme?apikey=GFL">Meme</a>
            <li><a title="">═════ ♢.maker.♢ ═════</a></li>
            <li><a href= "api/textmaker?text=halo&text2=hai&theme=glitch&apikey=GFL">Glitch</a>
            <li><a href= "api/textmaker?text=halo&text2=hai&text3=gwganteng&theme=google-suggestion&apikey=GFL">Google Suggestion</a>
            <li><a href= "api/textmaker/game?text=halo&text2=hai&theme=pubg&apikey=GFL">PUBG</a>
            <li><a href= "api/textmaker/game?text=halo&text2=hai&theme=battlefield&apikey=GFL">BattleField</a>
            <li><a href= "api/textmaker/senja?text=LINGMO&theme=coffee-cup&apikey=GFL">Coffee Cup</a>
            <li><a href= "api/textmaker/senja?text=LMO&theme=coffee-cup2&apikey=GFL">Coffee Cup 2</a>
            <li><a href= "api/textmaker/metallic?text=Lynx&theme=neon&apikey=GFL">Neon</a>
            <li><a href= "api/textmaker/metallic?text=Linz&theme=glow&apikey=GFL">Glow</a>
            <li><a href= "api/textmaker/alam?text=LING&theme=summer&apikey=GFL">Summer</a>
            <li><a href= "api/textmaker/alam?text=LINGZ&theme=flower&apikey=GFL">Flower</a>
            <li><a title="">═════ ♢.anime.♢ ═════</a></li>
            <li><a href= "api/anime/kusonime?search=planetarian&apikey=GFL">Kusonime</a>
            <li><a href= "api/anime/nsfwloli&apikey=GFL">nsfwloli</a>
            <li><a href= "api/anime/husbu&apikey=GFL">husbu</a>
            <li><a href= "api/manga?search=kimetsu no yaiba&apikey=GFL">Manga</a>
            <li><a title="">═════ ♢.game.♢ ═════</a></li>
            <li><a href= "/api/kuis/caklontong?apikey=GFL">Cak Lontong</a>
            <li><a href=  "/api/kuis/tebakgambar?apikey=GFL">Tebak Gambar</a>
            <li><a title="">═════ ♢.other.♢ ═════</a></li>
            <li><a href= "api/nulis?text=ZahirGanteng&apikey=GFL">Nulis Buku</a>
            <li><a href= "api/infonpm?query=zhirrr-api&hostname=zhirrr&apikey=GFL">Info NPM</a>
            <li><a href= "api/infogempa?apikey=GFL">Info Gempa</a>
            <li><a href= "api/cuaca?kabupaten=kab bungo&apikey=GFL">Info Cuaca</a>
            <li><a href= "api/covidindo?apikey=GFL">Covid Indo</a>
            <li><a href= "api/covidworld?apikey=GFL">Covid World</a>
            <li><a href= "api/short/tiny?url=google.com&apikey=GFL">Short Link</a>
            <li><a href= "api/wikipedia?search=jembatan&apikey=GFL">Wikipedia</a>
            <li><a href= "api/drakorasia?search=tale&apikey=GFL">Drakor Asia</a>
            <li><a href= "api/fakedata?country=en&apikey=GFL">Fake Data</a>
            <li><a href= "api/hilih?kata=aku kan ganteng banget&apikey=GFL">Kata Hilih</a>
            <li><a href= "api/liriklagu?lagu=sayang&apikey=GFL">Lirik Lagu</a>
            <li><a href= "api/chordlagu?lagu=sayang&apikey=GFL">Chord Lagu</a>
            <li><a href= "api/kbbi?kata=pohon&apikey=GFL">KBBI</a>
            <li><a href= "api/kodepos?kota=jakarta&apikey=GFL">Kode Pos</a>
            <li><a href= "api/translate?kata=hi&apikey=GFL">Translate</a>
            <li><a href= "api/gabut?apikey=GFL">Gabut</a>
        </ul>        
      </div> 
    </div>
  </nav>
</header>
<!-- Add your site or app content here -->

  <div class="hero-full-container background-image-container white-text-container" style="background-image: url('https://www.hostpic.org/images/2103201355140308.jpg')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <h3>Girls-FRONTLINE<br>
          <div class="hero-full-wrapper">
            <div class="text-content">
              <h3>Hello,<br>
                <span id="typed-strings">
                  <span>welcome to my rest api</span>
                  <span>status Online ✡ </span>
                  <span>Apikey : GFL</span>
                </span>
                <span id="typed"></span>
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<script>
  document.addEventListener("DOMContentLoaded", function (event) {
     type();
     movingBackgroundImage();
  });
</script>
<div class="hero-full-container background-image-container white-text-container" style="background-image: url('https://i.ibb.co/rZP4Pvq/tutup.gif')">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
        <h2>Girls-FRONTLINE<br>
        <h3>about this api<h4>
        <h3><a href="#"><font color="#b9ffa5">api ini dibuat hanya sekedar coba coba saja</font></a></h3>
        <h3>join discordnya ya<a rel="nofollow" href="https://discord.gg/Jyr9zWhF96"><font color="#8af3df">`cah koding`</font></a></p>
        </ul>
        </ul>
        </ul>
        <h2>More Information</h2>
              </div>
              <ul class="footer-list">
                <h3>Whatsapp: <a href="#"><font color="#8af3df">+6288708344182</font></a></h3>
                <h3>Instagram: <a rel="nofollow" href="https://instagram.com/ling_.mo?igshid=1k1u35qv0pvlw"><font color="#8af3df">@ling_.mo</font></a></p>
              </ul>
<script type="text/javascript" src="https://rawcdn.githack.com/Not-found-squad/bootstrap-gw/03638e3883ae6f99b10f59ed00a76826e1f139c5/main.70a66962.js"></script></body>
</div>
<h5>Copyright © 2021 - Developed By<a href="#"><font color="#e0ffdb"> L-M0</font></a></h5>

</html>
